
<h2 id = "snack">What Snack or Beverage Would You Like?</h2>
<form method="POST" action="/create" class="button-size">
  <textarea type="text" name="plan"></textarea><br>
  <button id="add" type="submit" class="btn btn-dark btn-lg">Request!</button>
</form>
<br>

<!--===========================POLLBAR===========================================-->
  <div id="container">
     <span id="question">We'll consider snacks with 7 votes!</span>
      {{#each plans}}
      <div class="barbar" style="width:{{this.vote}}00px"><span>{{this.vote}}</span><a href="" bob="{{this.id}}">Vote</a> {{this.plan}}</div>
      {{/each}}
   </div>
<!--===========================POLLBAR  END  ===========================================-->

